<div class="bg-[#1A1D29] w-auto h-screen flex flex-col justify-between text-white">
    <div class="mt-16">
        <div class="h-[8vh] flex justify-center cursor-pointer my-1 hover:bg-white items-center"
        (click)="redirectToLink('home')">
            <img class="w-full p-2" src="/svg/home.svg" alt="">
        </div>
        <div class="h-[8vh] flex justify-center cursor-pointer my-1 hover:bg-white items-center"
        (click)="redirectToLink('orders')">
            <img class="w-full p-2" src="/svg/list.svg" alt="">
        </div>
        <div class="h-[8vh] flex justify-center cursor-pointer my-1 hover:bg-white items-center"
        (click)="redirectToLink('products')">
            <img class="w-full p-2" src="/svg/home.svg" alt="">
        </div>
        <div class="h-[8vh] flex justify-center cursor-pointer my-1 hover:bg-white items-center"
        (click)="redirectToLink('inventory')">
            <img class="w-full p-2" src="/svg/box.svg" alt="">
        </div>
        <div class="h-[8vh] flex justify-center cursor-pointer my-1 hover:bg-white items-center"
        (click)="redirectToLink('profile')">
            <img class="w-full p-2" src="/svg/profile.svg" alt="">
        </div>
    </div>
    <div class="">
        <div class="h-[8vh] flex justify-center cursor-pointer my-1 hover:bg-white items-center"
        (click)="redirectToLink('')">
            <img class="w-full p-2" src="/svg/home.svg" alt="">
        </div>

    </div>
</div>