<div class="w-full bg-[#18434E] flex justify-between items-center hover:bg-[#102d34] shadow-custom-bottom" style="border: 1px solid black;">
    <div class="flex justify-between items-center w-1/4 mx-8 my-1 text-white">
        <div class="rounded-full bg-white w-8 h-8" style="border: 1px solid black;">
            <img src="" alt="">
        </div>
        <p class=""><b> {{ProductName}} </b></p>
    </div>
    <div class="flex justify-between items-center w-1/4 px-8">
        <div class="rounded-full w-6 h-6 bg-red-700 hover:bg-[#780000]" style="border: 1px solid black;">
            <img src="" alt="">
        </div>
        <div class="rounded-full w-6 h-6 bg-[#f8e16c] hover:bg-[#b3a24e]" style="border: 1px solid black;">
            <img src="" alt="">
        </div>
        <div class="rounded-full w-6 h-6 bg-gray-400 hover:bg-slate-600" style="border: 1px solid black;">
            <img src="" alt="">
        </div>
    </div>
</div>